extends layout

block content
  h2=user.name
  br
  form(action="/users/update", method="post")
    span Default group  
    input(type="hidden", name="user_id", value="#{user.id}")
    select(name="group_id")
      each group, i in groups
        option(value=i,selected=user.default_group_id === group.id) #{group.name}
    p
      input(type="submit", value="Update user")
